    <!-- footer -->
    <style>
    </style>
    <footer id="footer" data-aos="fade-up" data-aos-duration="1500">
      <h1 class="text-center">ZESUGAR PISTORS</h1>
      <p class="text-center">Contact us whenever or wherever you are.</p>
      <div class="icons text-center">
        <i class="bx bxl-twitter"></i>
        <i class="bx bxl-facebook"></i>
        <i class="bx bxl-google"></i>
        <i class="bx bxl-skype"></i>
        <i class="bx bxl-instagram"></i>
      </div>
      <div class="copyright text-center">
        <img width="100px" src="/image/keep.png" alt="">
      </div>

    </footer>
    <!-- footer -->

    <style>
      body::-webkit-scrollbar {
        width: 12px;
      }

      body::-webkit-scrollbar-track {
        background-color: rgb(72, 20, 44);

      }

      body::-webkit-scrollbar-thumb {
        background: rgb(223,156,187);
        background: linear-gradient(184deg, rgba(223,156,187,1) 0%, rgba(255,0,121,1) 100%);
        border-radius: 20px;
        border: 1px solid rgb(212, 98, 172);
      }
    </style>