    <!-- footer -->
    <footer id="footer" data-aos="fade-up" data-aos-duration="1500" >
        <h1 class="text-center">ZESUGAR PISTORS</h1>
        <p class="text-center">Contact us whenever or wherever you are.</p>
        <div class="icons text-center">
          <i class="bx bxl-twitter"></i>
          <i class="bx bxl-facebook"></i>
          <i class="bx bxl-google"></i>
          <i class="bx bxl-skype"></i>
          <i class="bx bxl-instagram"></i>
        </div>
        <div class="copyright text-center">
          <img width="100px" src="/image/keep.png" alt="">
        </div>
  
      </footer>
      <!-- footer -->
  
      <a href="#" class="arrow"><i><img src="/image/up-arrow.png" alt="" width="50px"></i></a>