

<div class="sidebar">
    <!-- Your sidebar content goes here -->

    <div class="profile_bar">
      <form class="circle" action="/logout" method="get">
        <img src="/image2/admin.png" alt="Profile Image">
        <p class="admintag">admin </p>
        <button id="logoutbtn" type="submit"><img width="20px" src="/image2/logout.png" alt="logout"></button>
      </form>
    </div>
    <!-- <a href="/admin/usermanagement"><button class="button" style=" background-color: rgb(98, 77, 77);">Dashboard</button></a> -->

    <button id="toggleButton" class="button" style=" background-color: rgb(98, 77, 77); ">User
      Management</button>
    <div class="usermanagementdiv" style="display: none;" id="usermanagementdiv">

      <form action="/admin" method="get" class="button-container">

        <button type="submit" class="button">All Users</button>

      </form>
      <a href="/admin/usermanagementblock/:userId"><button class="button">blocked users</button></a>

      <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="button">Create new
        user</button> -->
    </div>
    <a href="/admin//productmangement"><button class="button" style=" background-color: rgb(98, 77, 77);">Product
        Mangement</button></a>
    <!-- <a href="/admin/usermanagement"><button class="button" style=" background-color: rgb(98, 77, 77);">Order Mangement</button></a> -->
    <a href="/admin/categorymanagement"><button class="button" style=" background-color: rgb(98, 77, 77);">Category</button></a>
    <!-- <a href="/admin/usermanagement"><button class="button" style=" background-color: rgb(98, 77, 77);">Coupons</button></a> -->



  </div>
