* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Uchen', serif;
}

.loading_model {
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: rgb(72, 20, 44);
}

.loadingDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    background-color: rgb(117, 74, 101);
    border: 1px solid rgb(176, 176, 176);
    padding: 3px 10px 3px 10px;
    display: flex;
}
.lootieanimation{
    width: 30px;

}
.loding_btn_main_data_div{
    position: relative;
    background-color: rgb(128, 54, 89);
    width: 100%;
    min-height: 110px;
    display: flex;
    padding:2rem 0 0 0 ;
}
.loding_animation_for_btn{
    position: relative;
    margin: 0 auto;
    width: 150px;
    background-color: rgb(117, 74, 101);
    border: 1px solid rgb(176, 176, 176);
    padding: 3px 10px 3px 10px;
    display: flex;
}
.loading_btn_div{
  width: 30px;
}
.loading_text{
   margin:.4rem 0 0 0;
}

.btnclass {
    position: absolute;
    top: -32px;

}

.btnclasscard {
    position: absolute;
    top: 0px;
}

.btnsub {
    margin-left: 1149px;
    background-color: transparent;
    width: 90px;
    border-radius: 20px;

    color: white;

}

.all-content {
    background: rgb(72, 20, 44);
}

#navbar {
    background-color: rgb(72, 20, 44);
    padding-left: 60px;
    font-weight: bold;
}

#logo {
    font-size: 23px;
    color: white;
}

#logo img {
    margin-bottom: 15px;
}

.navbar-nav {
    margin-left: 10px;
}

.nav-link {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-left: 15px;
    transition: 0.5s ease;
}

.nav-link:hover {
    background-color: rgb(242, 93, 132);
    color: white;
    border-radius: 5px;
}

.icons {
    margin-left: 30px;
}

.icons img {
    margin-left: 10px;
    transition: .5s ease;
    cursor: pointer;
}

.icons img:hover {
    transform: translateY(-5px);

}

@media screen and (max-width:330px) {
    #logo {
        font-size: 15px;
    }
}

/* navbar end */


/* footer */
#footer {
    width: 100%;
    background-color: rgb(110, 30, 67);
    box-shadow: 0px 0px 5px black;
    margin-top: 100px;
}

#footer h1 {
    color: white;
    padding-top: 30px;
}

#footer p {
    color: white;
}

.icons i {
    background-color: white;
    color: rgb(110, 30, 67);
    border-radius: 50px;
    padding: 6px;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.icons i:hover {
    background-color: rgb(179, 50, 110);
    color: white;
}

.copyright {
    color: white;
    margin-top: 20px;
}

.credite {
    color: white;
}

/* footer */
html {
    scroll-behavior: smooth;
}

.arrow {
    position: fixed;
    background-color: rgb(190, 71, 104);
    border-radius: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

/* ===================OTHER UPDATE=============== */

.img_div {
    height: 20rem;
    width: 80%;
    display: flex;
    overflow: hidden;
}

.img_tag {
    width: 70%;
    height: 14rem;
    border-radius: 12px;
    background-color: rgb(80, 63, 63);
    border: 2px solid rgb(72, 28, 28);
    margin-top: 2rem;
    margin: auto;
    overflow: hidden;
    position: relative;

}

.img_tag img {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -.9rem;
}

.mini_imgbtn {
    margin-top: 2rem;
    width: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.img_min_div {
    width: 100%;
    border-radius: 6px;
    border: 2px solid rgb(72, 28, 28);
    height: 60px;
    background-color: rgb(93, 71, 71);
    margin: auto;
    overflow: hidden;



}

.img_min_div img {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.out-of-stock-label {
    position: absolute;
    top: 2.3rem;
    left: 7rem;
    width: 20rem;
    background-color: red;
    color: white;
    text-align: center;
    transform: rotate(45deg);
}

/* =========LEFT BAR============ */
.left_bar h1 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.categoryPtag {
    color: #fff;
    font-size: 20px;

}

.left_data_bar {
    margin-top: 3rem;
}

.star .checked {
    color: yellow;
}

.pricePtag {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.offerPtag {
    margin-left: 2rem;
    font-weight: lighter;
    font-size: 16px;

}

.descriptionPtag {
    margin-top: -1rem;
    color: #fff;
    font-size: 17px;
}

.quantity-select {
    background-color: rgb(160, 79, 102);
    border: 2px solid rgb(40, 22, 22);
    color: #010101;
    border-radius: 8px;
}

/* =========buy button======== */
.cart_data_div {
    width: 80%;
    height: 100px;
    overflow: hidden;
    border-radius: 12px;
    border: 2px solid rgb(89, 13, 34);
    margin-bottom: 12px;
    background-image: linear-gradient(92.83deg, rgb(201, 24, 74) 0, rgb(255, 143, 163) 100%);

    position: relative;

}

.img_product {
    width: 5rem;
    height: 5rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgb(40, 37, 38);

    border: 2px solid rgb(103, 45, 61);
    background-color: rgb(255, 143, 163);
    position: absolute;
    top: .5rem;
    left: 1rem;
    margin: auto;
    overflow: hidden;
}

.img_product img {
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name_product {
    position: absolute;
    top: 1rem;
    left: 8rem;
}

.name {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}

.description_div {
    margin-top: -1.2rem;
    color: #fff;
    font-size: 14px;
    width: 200px;
    text-overflow: clip;
}

.price_tag {
    color: rgb(106, 20, 45);
}

/* quantity meter */
.outer_div {
    position: relative;
    overflow: hidden;
}

.quantity_meter {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 2rem;
    left: 22rem;
    width: 100px;
    height: 30px;
}

.minus,
.value,
.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1.3px solid rgb(40, 22, 22);
}

.value {
    width: 40px;
}

.out_stock {
    display: none;
    color: rgb(246 8 8);
    position: absolute;
    top: 4rem;
    right: 11.8rem;

}

.minus[disabled] {
    pointer-events: none;
    opacity: 0.3;
}

.plus[disabled] {
    pointer-events: none;
    opacity: 0.3;
}

/*cancel ======================================== */


.delete_btn_div {
    position: absolute;
    border: none;
    top: 2rem;
    right: 13rem;
}

.delete_btn {
    background-color: transparent;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 2px solid rgb(45, 23, 23);
    cursor: pointer;



}

.delete_btn:active {
    outline: none;

}

.out-of-stock {

    position: absolute;
    top: 6rem;
    left: -3rem;
    transform: rotate(-45deg);
    transform-origin: 0 0;
    background-color: rgb(255, 40, 40);
    color: #fff;
    padding: 10px;
    margin: 2px;
    width: 13rem;
    height: 26px;
    display: none;

}

.out-of-stock p {
    margin-left: 46px;
    margin-top: -0.3rem;
    font-size: 14px;
}


/*cancel ======================================== */
/* =======the scroll bar======== */
.scrollable-content {
    height: 20rem;
    width: 100%;

}

.box::-webkit-scrollbar {
    width: 0.5rem;
    /* Adjust as needed */
    background-color: transparent;
    /* Hide the background of the scrollbar */
}

.box {
    width: 70rem;
    margin-top: 50px;
    height: 30rem;
    /* Total height of the 10 inner boxes (10 * 40px) */
    overflow-y: scroll;
    /* Enable vertical scrolling for the box */
    padding-bottom: 200px;
}

/* right bar============= */
.left_bar {
    position: absolute;
}

/* .data_visible_div{
    position: relative;
    top: 4rem;
    right: 6.5rem;
    width: 15rem;
    height: 17rem;
    border-radius: 12px;
    background: rgb(223,0,63);
    background: linear-gradient(148deg, rgba(223,0,63,1) 3%, rgba(213,157,174,1) 88%);
    border: 2px solid rgb(89, 13, 34);
    box-shadow: 5px 5px 10px rgb(255, 117, 143);
    align-items: center;
    text-align: center;
    .amount{
        color: #800f2f;
        .amountv{
            font-size: 19px;
            font-weight: 600;
        }
    }

} */

.price_data_div {
    text-align: left;
    margin-left: 8px;

    .price {
        font-size: 20px;
        font-weight: bold;

    }

}

.price_data_div p {
    margin-top: -.4rem;
    font-size: 15px;
    color: rgb(69, 25, 33);


}

.data_visible_div h3 {
    font-size: 20px;
    margin-top: 5px;

}


/* =====cart emty====== */
.cart_emty_div {
    width: 100%;
    height: 14rem;
    position: relative;
    display: flex;
}

.cart_emty {
    width: 260px;
    height: 130px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}

.cart_emty img {
    position: absolute;
    top: -9rem;
    left: -18rem;
}

.cart_emty p {
    width: 16rem;
    position: absolute;
    top: -5rem;
    left: -.9rem;
}

.cart_emty h1 {
    position: absolute;
    color: #fff;
    top: 12rem;
    font-size: 20px;
    left: 1.5rem;


}

/* btn */

.btnshop {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #98368d 0, #4c044b 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-left: 20px;
}

.btnshop:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btnshop:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btnshop:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

/* ==================== */
/* ========CHECK OUT BTN============ */


/* CSS */
.ckeckoutButton {
    align-items: center;
    appearance: none;
    background: rgb(232, 18, 79);
    background: linear-gradient(90deg, rgba(232, 18, 79, 1) 23%, rgba(242, 169, 212, 1) 94%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;

    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;

    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;

    /* margin-left: 4rem; */
}

.ckeckoutButton:focus {
    box-shadow: rgb(232, 18, 79) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(232, 18, 79) 0 -3px 0 inset;
    outline: none;
}

.ckeckoutButton:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(232, 18, 79) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.ckeckoutButton:active {
    box-shadow: rgb(232, 18, 79) 0 3px 7px inset;
    transform: translateY(2px);
}

/* ========CHECK OUT BTN-END============ */

/* OUT OF STOCK WARNING  */
.div_model {
    display: none;
}

.checkout-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(4px);

}

.checkout {
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    height: 250px;
    text-align: center;
    border: 2px solid rgb(118, 15, 44);
    background: rgb(164, 19, 60);
    background: linear-gradient(149deg, rgba(164, 19, 60, 1) 16%, rgba(224, 76, 121, 1) 72%);
    box-shadow: 0 0 16px #fff;
}

.out_stock_items {
    background: rgb(255, 225, 242);
    background-image: linear-gradient(92.83deg, rgb(201, 24, 74) 0, rgb(255, 143, 163) 100%);
    border: 1px solid rgb(89, 13, 34);
    border-radius: 8px;
    margin-bottom: 10px;
    height: 60px;
    position: relative;
}

.img_out_stockproduct {
    width: 3rem;
    height: 3.2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(40, 37, 38);
    border: 1px solid rgb(103, 45, 61);
    background-color: rgb(255, 143, 163);
    position: absolute;
    top: 0.1rem;
    left: 0.4rem;
    margin: auto;
    overflow: hidden;


}

.img_out_stockproduct img {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.out_stock_items {
    display: flex;
    justify-content: space-between;
    /* Distributes space evenly between the elements */
    align-items: center;
    /* Aligns the elements vertically in the center */
    gap: 20px;
    /* Adds space between the elements */
}

.scrolable_div::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
    /* Hide the background of the scrollbar */
}

.scrolable_div {

    padding: 12px 0 12px;
    position: relative;
    width: 100%;
    margin-top: 5px;
    height: 120px;
    /* Total height of the 10 inner boxes (10 * 40px) */
    overflow-y: scroll;
    /* Enable vertical scrolling for the box */
}

.stock_data {
    margin-left: 5rem;
    line-height: 2px;
    margin-top: 12px;
    font-size: 12px;
    color: #fff;
}

.stockname {
    margin-top: 0;
}

.description_div_out_stock {
    position: relative;

    .description_stock {
        line-height: 10px;
    }

    .out_lebal {
        position: absolute;
        top: 25px;
        left: 6rem;
    }
}

/* cancel btn  */
.btn_div {
    margin-top: 1rem;
}

.cls_ofs_btn {
    background-color: transparent;
    border: 1px solid rgb(32, 28, 28);
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
}


/* error pop up msg */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

#alert-message {
    animation: slideInFromLeft .3s forwards;
    position: fixed;
    right: -71px;
    top: 498px;
    width: 328px;
}

.errormsg {
    height: 70px;
    width: 100px;
    position: absolute;
    border: 2px solid #e18383;
    color: #fff;
    background: rgb(255, 255, 255);
    background: linear-gradient(148deg, rgba(255, 255, 255, 0.6056547619047619) 0%, rgba(244, 2, 2, 0.7401085434173669) 29%, rgba(252, 0, 0, 0.7401085434173669) 63%, rgba(244, 244, 244, 0.6532738095238095) 100%);
    padding: 10px;
    border-radius: 8px;
    bottom: 40px;
    right: 80px;
    overflow: hidden;
}

@keyframes expand {
    from {
        width: 0;
    }

    to {
        width: 300px;
    }
}

@keyframes hide {
    from {
        width: 300px;
    }

    to {
        width: 0;
    }
}

.errormsg {
    animation-name: expand;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}


/* ================ */

/* /////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////CHECKOUT PAGE/////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */



.scroll_main_div {
    margin: 80px 0 0 0;
    width: 100%;
    position: relative;

}

.innerscroll::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
}

.innerscroll {
    background-color: aqua;
    width: 100%;
    height: 30rem;
    overflow-y: scroll;
    padding-bottom: 200px;
}


.main_container_div {

    margin: -5rem 4rem 0 4rem;
    display: flex;
    gap: 20px;

}

.data_visible_div {
    margin: 5rem 0 0 5rem;
    position: fixed;
    border-radius: 12px;
    background: rgb(223, 0, 63);
    background: linear-gradient(148deg, rgba(223, 0, 63, 1) 3%, rgba(213, 157, 174, 1) 88%);
    border: 2px solid rgb(89, 13, 34);
    box-shadow: 5px 5px 10px rgb(255, 117, 143);
    align-items: center;
    text-align: center;

    .amount {
        color: #800f2f;

        .amountv {
            font-size: 19px;
            font-weight: 600;
        }
    }

    user-select: none;

}

.action_method_div {
    width: 95%;
    margin: 10px 0 10px 2rem;
}

.data_action_div {
    height: 40px;
    background-color: #622643;
    color: #fff;
    padding: .5rem 0 0 1rem;
    border: 1px solid rgb(218, 91, 128);
    box-shadow: .5px .5px 2px rgb(219, 129, 155);
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
    display: flex;
}

.confirm_div {
    position: relative;
    min-height: 40px;
    background-color: rgb(135, 14, 72);
    color: #fff;
    padding: .5rem 0 0 1rem;
    border: 1px solid rgb(218, 91, 128);
    box-shadow: .5px .5px 2px rgb(219, 129, 155);
    cursor: pointer;
    user-select: none;
}


.left_bar {
    flex: 70%;
}

.right_bar {
    flex: 30%;
}

.data_display_div {
    width: 99%;
    margin: 0 auto;
}

.data_display_div_address {
    min-height: 100px;
    background-color: rgb(128, 54, 89);
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////SINGLE DATA/////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */
.single_address_div {
    width: 100%;
    min-height: 80px;
    background-color: rgb(114, 65, 88);
    border: 1px solid rgb(225, 145, 168);
    cursor: pointer;
    user-select: none;
    position: relative;
    display: none;
}

.address_radio_action {
    position: absolute;
    margin: .5rem 0 0 .5rem;
}


.address_type {
    padding: 0 1px 0 1px;
    width: 33px;
    background-color: rgb(163, 147, 153);
    border: 1px solid rgb(102, 73, 73);
    border-radius: 3px;
    font-size: 12px;
    margin: 0 1rem 0 0;
    color: rgb(44, 39, 39);

}

.user_mainData {
    display: flex;
    font-size: 13px;
    font-weight: bold;
    margin: .3rem 0 0 2.3rem;
    font-family: Times, "Times New Roman", Georgia, serif;
    color: #fff;
}

.user_address_text_div {
    width: 20rem;
    font-size: 13px;
    margin: .3rem 0 0 2.3rem;
    font-family: Times, "Times New Roman", Georgia, serif;
    color: #fff;
    word-wrap: break-word;
}

.edit_action {
    position: absolute;
    right: .5rem;
    top: .5rem;
    color: #5023cb;
    font-size: 13px;
    display: none;


}


/* ======== delivery here  BTN============ */


/* CSS */
.address_select_btn {
    align-items: center;
    appearance: none;
    background: rgb(232, 18, 79);
    background: linear-gradient(90deg, rgba(232, 18, 79, 1) 23%, rgba(242, 169, 212, 1) 94%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;

    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;

    margin: 1rem 0rem .5rem 2rem;

    /* margin-left: 4rem; */
}

.address_select_btn:focus {
    box-shadow: rgb(232, 18, 79) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(232, 18, 79) 0 -3px 0 inset;
    outline: none;
}

.address_select_btn:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(232, 18, 79) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.address_select_btn:active {
    box-shadow: rgb(232, 18, 79) 0 3px 7px inset;
    transform: translateY(2px);
}

/* ============================================================================================= */
/* =======================================EDIT ADDRESS FORM===================================== */
/* ==============================================================================================*/


.actionHover_div {
    position: relative;
    background-color: rgb(224, 219, 221);
    box-shadow: 2px 2px 5px black;
    width: 50px;
    font-size: 13px;
    text-align: center;
    display: none;
    border-radius: 3px;
}

.editimg_div:hover .actionHover_div {
    display: block;
}

#edit_img {
    position: absolute;
    right: 0;
    top: 0;

}

.editbtn {
    padding: 2.5px 5px 2.5px 5px;
}

.editbtn:hover {
    color: #3926c5;
}


/* ///////////////EDIT FORM/////////////////////// */
.edit_address_div {
    padding: 0 0 14px 0;
    border-top: 2px solid rgb(84, 43, 62);
    border-bottom: 2px solid rgb(84, 43, 62);
    width: 75%;
    margin: 0 auto;
    display: none;

}

/* ===INPUT LABEL ===*/
.input-container {
    position: relative;
}

.input-container input {
    box-sizing: border-box;
    padding: 8px 0 2px 10px;
}

.input-container label {
    position: absolute;
    top: 3px;
    left: 10px;
    transition: 0.3s ease;
}

.input-container input:focus+label,
.input-container input:not(:placeholder-shown)+label {
    top: -2px;
    left: 5px;
    font-size: 12px;
}

/* ============== */
.top_input_tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.top_input_tags input {
    width: 100%;

}

.top_input {
    flex: 0 0 48%;
    margin: 5px 0 5px 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid rgb(121, 98, 98);
    position: relative;
}

.textarea_tag textarea {
    width: 100%;
    border-radius: 2px;
    margin: 5px 0 5px 0;
    height: 70px;
}

.bottom_input_tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom_tag {
    flex: 0 0 48%;
    margin: 5px 0 5px 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid rgb(121, 98, 98);
    position: relative;
}

.typeOfAddressTag {
    font-size: 12px;
    top: -2px;
    left: 5px;
}

.bottom_input_tags input,
select {
    width: 100%;
    height: 100%;
}

.address_type_tag {
    margin: 1.2rem 0 0 15px;
}

/* form action btns */
.form_action_div {
    display: flex;
    justify-content: space-between;

}

.submit_btn {
    flex: 0 0 36%;
    width: 100%;
    height: 40px;
    text-align: center;
    background: rgb(238, 197, 209);
    background: linear-gradient(90deg, rgba(238, 197, 209, 1) 10%, rgba(254, 86, 118, 1) 90%);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;


}

.cancel_add_btn {
    flex: 0 0 50%;
    align-items: center;
    padding-top: 8px;
    height: 60px;
    cursor: pointer;

}

.cancel_btn_edit {
    flex: 0 0 50%;
    align-items: center;
    padding-top: 8px;
    height: 60px;
    cursor: pointer;

}





/* ============================================================================================= */
/* =======================================EDIT ADDRESS END===================================== */
/* ==============================================================================================*/

.add_address_form_div {
    width: 100%;
    height: 30px;
    background-color: rgb(114, 65, 88);
    border: 1px solid rgb(225, 145, 168);
    margin: .6rem 0 0 0;
    font-size: 14px;
    padding: 5px 0 0 10px;
    color: #6596ff;
    user-select: none;
    cursor: pointer;
}

.add_address_div {
    padding: 0 0 14px 0;
    border-top: 2px solid rgb(84, 43, 62);
    border-bottom: 2px solid rgb(84, 43, 62);
    width: 75%;
    margin: 0 auto;
    display: none;
}

.confirm_action_div {
    width: 100%;
    background-color: rgb(135, 14, 72);
    min-height: 40px;
    color: #fff;
    padding: .5rem 0 0 1rem;
    border: 1px solid rgb(218, 91, 128);
    box-shadow: .5px .5px 2px rgb(219, 129, 155);
    user-select: none;
    position: relative;
    display: none;
}

#text_add_address {
    color: #6596ff;
    font-size: 14px;
    margin: 0 0 0 10px;

}

.confirm_text_top_bar {

    display: flex;
    font-size: 14px;
    color: #fff;

}

.confirm_div_num {
    background-color: rgb(143, 56, 98);
    border: #59244a;
    padding-left: .3rem;
    padding-right: .3rem;
    font-size: 12px;
    height: 1rem;
    margin-right: .6rem;

}
.active_div_num {
    background-color: rgb(143, 56, 98);
    border: #48223d;
    padding-left: .3rem;
    padding-right: .3rem;
    font-size: 12px;
    height: 1rem;
    margin-right: .6rem;
    margin-top: 4px;

}

.confirm_text_bottom_bar {
    display: flex;
    width: 70%;
    word-wrap: break-word;
    margin-left: 1.7rem;
    font-size: 12px;
}

.lower_text {
    margin-top: .13rem;
}

.confirm_address_name,
.confirm_address_pincode,
.name_login_user {
    font-size: 13px;
    font-weight: 700;
    font-family: Times, "Times New Roman", Georgia, serif;
    text-transform: uppercase;
}

.Change_address_btn {
    position: absolute;
    top: .7rem;
    right: 2rem;
    text-transform: uppercase;
    padding: 3.5px 10px 3.5px 10px;
    font-size: 13px;
    color: #8ca9e6;
    background-color: transparent;
    border: 1px solid rgb(240, 147, 201);
    user-select: none;
    cursor: pointer;

}

/*                   Order Summary                      */
.data_display_div_order_summary {
    min-height: 100px;
    background-color: rgb(128, 54, 89);
}

.single_item_data_div {
    width: 100%;
    min-height: 90px;
    background-color: rgb(114, 65, 88);
    border: 1px solid rgb(225, 145, 168);
    cursor: pointer;
    user-select: none;
    position: relative;
    display: flex;
    gap: 10px;
}
.radio_pament_selection_div{
    width: 100%;
    min-height: 40px;
    background-color: rgb(141, 104, 121);
    border: 1px solid rgb(225, 145, 168);
    cursor: pointer;
    user-select: none;
    position: relative;
}


.item_image_preview_div {
    flex: 0 0 15%;
    position: relative;
    display: flex;
}

.img_display_tag {
    width: 70%;
    height: 80%;
    margin: auto auto;
    overflow: hidden;
    object-fit: fill;
    justify-content: end;
}

.img_tag {
    width: 100%;
    height: 90%;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 8px;
}

.item_data_preview_div {
    flex: 0 0 45%;
    position: relative;
    color: #fff;
    padding: .6rem 0 0 1rem;


}

.top_text_data_preview_div {
    display: flex;
    word-wrap: break-word;
    font-size: 16px;
}

.price_data_text_preview {
    color: #bb95bb;
}

.bottom_text_data_preview_div {
    display: flex;
    word-wrap: break-word;
    font-size: 13px;
    margin-top: -.5rem;

}

.item_delivery_preview_div {
    flex: 0 0 35%;
    position: relative;
    color: #e3dddf;

}

.delivery_charge_data_p {
    margin: .6rem 0 0 .3rem;
    font-size: 13px;
}

.cofirm_order_summary_action_div {
    width: 100%;
    min-height: 50px;
    background-color: rgb(114, 65, 88);
    border: 1px solid rgb(225, 145, 168);
    cursor: pointer;
    user-select: none;
    position: relative;
    margin:1.4rem 0 0 0;
    display: flex;
    color: #fff;
    font-size: 13px;


    
}

.text_confirm_order_mail{
    font-size: 13px;
    margin: auto 3rem;


}
.email_user_text{
    margin: auto 3rem auto -3rem;
    color: #6596ff;
}


/* ======== order summery confirm  BTN============ */


/* CSS */
.btn_continue_confirm_order_summary {
    align-items: center;
    appearance: none;
    background: rgb(232, 18, 79);
    background: linear-gradient(90deg, rgba(232, 18, 79, 1) 23%, rgba(242, 169, 212, 1) 94%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 35px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;

    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    text-transform: uppercase;
    margin: auto 0;
}

.btn_continue_confirm_order_summary:focus {
    box-shadow: rgb(232, 18, 79) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(232, 18, 79) 0 -3px 0 inset;
    outline: none;
}

.btn_continue_confirm_order_summary:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(232, 18, 79) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btn_continue_confirm_order_summary:active {
    box-shadow: rgb(232, 18, 79) 0 3px 7px inset;
    transform: translateY(2px);
}
/* ____________________________________________________ */
.view_order_summary_btn{
    position: absolute;
    top: .7rem;
    right: 2rem;
    text-transform: uppercase;
    padding: 3.5px 19px 3.5px 19px;
    font-size: 13px;
    color: #8ca9e6;
    background-color: transparent;
    border: 1px solid rgb(240, 147, 201);
    user-select: none;
    cursor: pointer;

}


/*          payment           */
.data_display_div_payment {
    position: relative;
    min-height: 100px;
    background-color: rgb(128, 54, 89);
}

.top_data_payment_method_action{
    display: flex;
    font-size: 14px;
    color: #fff;
}
.top_data_payment_method_action p{
    margin: 8px 0 0 10px;
}
.bottom_data_payment_method_action{
    display: flex;

}
/* __________________________ */


/* ________payment button________ */




/* CSS */
.upi_pay_btn {
    align-items: center;
    appearance: none;
    background: rgb(232, 18, 79);
    background: linear-gradient(90deg, rgba(232, 18, 79, 1) 23%, rgba(242, 169, 212, 1) 94%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 35px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;

    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    text-transform: uppercase;
    margin: 0 0 1rem 3rem;
}

.upi_pay_btn:focus {
    box-shadow: rgb(232, 18, 79) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(232, 18, 79) 0 -3px 0 inset;
    outline: none;
}

.upi_pay_btn:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(232, 18, 79) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.upi_pay_btn:active {
    box-shadow: rgb(232, 18, 79) 0 3px 7px inset;
    transform: translateY(2px);
}

/* cod */
.cod_pay_btn {
    align-items: center;
    appearance: none;
    background: rgb(232, 18, 79);
    background: linear-gradient(90deg, rgba(232, 18, 79, 1) 23%, rgba(242, 169, 212, 1) 94%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 35px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;

    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    text-transform: uppercase;
    margin: 0 0 1rem 3rem;

}

.cod_pay_btn:focus {
    box-shadow: rgb(232, 18, 79) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(232, 18, 79) 0 -3px 0 inset;
    outline: none;
}

.cod_pay_btn:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(232, 18, 79) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.cod_pay_btn:active {
    box-shadow: rgb(232, 18, 79) 0 3px 7px inset;
    transform: translateY(2px);
}
/* Wallet_pay_btn */
.Wallet_pay_btn {
    align-items: center;
    appearance: none;
    background: rgb(232, 18, 79);
    background: linear-gradient(90deg, rgba(232, 18, 79, 1) 23%, rgba(242, 169, 212, 1) 94%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 35px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;

    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    text-transform: uppercase;
    margin: 0 0 1rem 3rem;

}

.Wallet_pay_btn:focus {
    box-shadow: rgb(232, 18, 79) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(232, 18, 79) 0 -3px 0 inset;
    outline: none;
}

.Wallet_pay_btn:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(232, 18, 79) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.Wallet_pay_btn:active {
    box-shadow: rgb(232, 18, 79) 0 3px 7px inset;
    transform: translateY(2px);
}

.Wallet_error_msg{
    max-width:500px;
    height:30px;
    padding:.2rem 0  0 .5rem;
    border:2px solid red;
    background-color: rgb(255, 126, 126);
    color:#fff;
    border-radius: 4px;
    margin:1rem 0 1rem 2rem ;
    display: none;

}
.bottom_data_payment_method_action_Wallet{
    display: flex;
}

.apply_coupon_div{
    width: 100%;
    min-height: 30px;
    background-color:rgb(127, 61, 93);
    border: 1px solid rgb(225, 145, 168);
    margin:.5rem 0 0  0;
    cursor: pointer;
    user-select: none;
    position: relative;
    padding:5px 0 0 10px;
    display: flex;
    position: relative;

}
.couponInput_div{
    display: flex;
    width: 100%;

}
.add_couponaction{
    color: #a597f5;
    font-size: 15px;
}
.coupon_id{
    background-color: transparent;
    border: 1px solid rgb(225, 145, 168);
    width:7rem;
    height:2rem;
    color: #fff;
    text-shadow:2px 2px 3px black;
    margin:.1rem 0 .3rem 1rem ;
   

}
.coupon_id::placeholder{
    color: #b1b8ef;
    font-size: 13px;
}
.apply{
    min-width:100px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    border: none;
    margin:.1rem 0 0 1rem;
    cursor: pointer;
    color: rgb(132, 255, 132);
  

}
.error_msg{
    display: none;
    max-width:500px;
    min-height:30px;
    padding:.2rem 0  0 .5rem;
    border:2px solid red;
    background-color: rgb(255, 126, 126);
    color:#fff;
    border-radius: 4px;
}